<div class="set">
	<%= fields_for @workout, :wo_sets do |w| %>

		<p><%= w.label :exercise %>: <%= w.collection_select :exercise_id, Exercise.all, :id, :name, {prompt: "Select a exercise"}, {class: "form-control"} %><br>
		<%= w.label :rep %>: <%= w.text_field :rep, class: "form-control" %><br>
		<%= w.label :weight %>: <%= w.text_field :weight, class: "form-control" %><br>
		<%= w.label :time %>: <%= w.text_field :time, class: "form-control" %><br>
		<%= w.label :distance %>: <%= w.text_field :distance, class: "form-control" %></p>
		<p><%= link_to_function "Remove", "$(this).up('.sets').remove()" %></p>

	<% end %>
</div>