<div class="row">
	<div class="col-md-4">
		<%= render "users/userinfo" %>
		<%= render "posts/post_form" %>
		<%= render "goals/goalviewindex" %>
	</div>
	<div class="col-md-8">
		<h1>Create a Workout</h1>
		<p>Fill out the following accordingly</p>

		<p>&nbsp;</p>


		<%= nested_form_for @workout do |f| %>
			<div id="sets">

		  		<div class="set">
					<%= f.fields_for :wo_sets do |w| %>
						<table class="table">
							<tr>
								<td><%= w.label :exercise %></td>
								<td><%= w.collection_select :exercise_id, Exercise.all, :id, :name, {prompt: "Select a exercise"}, {class: "form-control"}  %></td>
							</tr>
							<tr>
								<td><%= w.label :rep %></td>
								<td><%= w.text_field :rep, class: "form-control" %></td>
							</tr>
							<tr>
								<td><%= w.label :weight %></td>
								<td><%= w.text_field :weight, class: "form-control" %></td>
							</tr>
							<tr>
								<td><%= w.label :time %></td>
								<td><%= w.text_field :time, class: "form-control" %></td>
							</tr>
							<tr>
								<td><%= w.label :distance %></td>
								<td><%= w.text_field :distance, class: "form-control" %></td>
							</tr>
						</table>
  						<p><%= w.link_to_remove "Remove This Set" %></p>

					<% end %>
				</div>

			</div>

			<p><%= f.link_to_add "Add a Set", :wo_sets %></p>

			<p><%= f.submit "Publish Workout", class: "btn btn-primary" %></p>

		<% end %>
	</div>
</div>