<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>


  <p><%= f.label :name %><br />
  <%= f.text_field :name, :autofocus => true, class: "form-control" %></p>

  <% if current_user.id = 1 && current_user.id = 2 %>
  <div class="checkbox">
    <p><%= f.check_box :admin %> <%= f.label :admin %></p>
    </div>
  <% end -%>
  
  <p><%= f.label :gender %><br />
  Male: <%= f.radio_button(:gender, "Male") %>&nbsp;&nbsp;Female: <%= f.radio_button(:gender, "Female") %></p>

  <p><%= f.label :Birthday %><br />
  <%= f.text_field :age, id: "datepicker", class: "form-control" %></p>

  <p><%= f.label :measurement_system %><br />
  U.S.: <%= f.radio_button(:measurement_system, "US") %>&nbsp;&nbsp;Metric: <%= f.radio_button(:measurement_system, "Metric") %></p>

  <p><%= f.label :height %><br />
  <%= f.text_field :height, class: "form-control" %></p>

  <p><%= f.label :weight %><br>
  <%= f.text_field :weight, class: "form-control" %></p>

  <p><%= f.label :email %><br />
  <%= f.email_field :email, class: "form-control" %></p>

  <p><%= f.label :bio %><br />
  <%= f.text_area :bio, class: "form-control message" %>
    You have <B><SPAN class="countdown">140</SPAN></B> characters remaining.</p>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
  <% end %>

  <p><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off", class: "form-control" %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, class: "form-control" %></p>

  <p><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password, class: "form-control" %></p>

  <p><%= f.submit "Update", class: "btn btn-primary" %></p>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class: "btn btn-danger" %></p>\



<script>
$(function() {
  $( "#datepicker" ).datepicker({
    changeMonth: true,
    changeYear: true,
    minDate: new Date(1900, 1, 1)
  });
});

function updateCountdown() {
    var remaining = 255 - jQuery('.message').val().length;
    jQuery('.countdown').text(remaining);
}

$(document).ready(function($) {
    updateCountdown();
    $('.message').change(updateCountdown);
    $('.message').keyup(updateCountdown);
});
</script>
