<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1"></div>
  <div class="col-md-8">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :method => :put) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :username %><br>
  <%= f.text_field :username, :autofocus => true, class: "form-control" %></p>

  <p><%= f.label :name %><br />
  <%= f.text_field :name, class: "form-control" %></p>

  <% if current_user.id = 1 && current_user.id = 2 %>
  <div class="checkbox">
    <p><%= f.check_box :admin %> <%= f.label :admin %></p>
    </div>
  <% end -%>
  
  <p><%= f.label :gender %><br />
  <%= f.select(:gender, [["Male"], ["Female"]], {},{class: "form-control"}) %></p>

  <p><%= f.label "Birthday (dd/mm/yyyy)" %><br />
  <%= f.text_field :age, :value => resource.age.try(:strftime, '%d-%m-%Y'), id: "datepicker", class: "form-control" %></p>

  <p><%= f.label :measurement_system %><br />
  <%= f.select(:measurement_system, [["US"], ["Metric"]],{}, {class: "form-control"}) %></p>

  <p><%= f.label :height %><br />
  <% if current_user.measurement_system == "US" %>
    <%= f.select :height, ((0..500).map {|i| [i,i] }),  {prompt: "Whats Your Height?"},class: "form-control" %>
  <% else %>
    <%= f.select :height, ((0..500).map {|i| [i,i] }),  {prompt: "Whats Your Height?"},class: "form-control" %>
  <% end %>
</p>

  <p><%= f.label :weight %><br>
  <div class="input-group"><%= f.text_field :weight, class: "form-control" %>
  <% if current_user.measurement_system == "US" %>
    <span class="input-group-addon">lbs</span>
  <% else %>
    <span class="input-group-addon">kgs</span>
  <% end %></div></p>

  <p><%= f.label :email %><br />
  <%= f.email_field :email, class: "form-control" %></p>

  <p><%= f.label :bio %><br />
  <%= f.text_area :bio, class: "form-control message" %>
    You have <B><SPAN class="countdown">140</SPAN></B> characters remaining.</p>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
  <% end %>

  <p><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off", class: "form-control" %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, class: "form-control" %></p>

  <p><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password, class: "form-control" %></p>

  <p><%= f.submit "Update", class: "btn btn-primary" %></p>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class: "btn btn-danger" %></p>


</div>
  <div class="col-md-1"></div>
  <div class="col-md-1"></div>
</div>

<script>
$(function() {
  $( "#datepicker" ).datepicker({
    changeMonth: true,
    changeYear: true,
    minDate: new Date(1900, 1, 1)
  });
});

function updateCountdown() {
    var remaining = 255 - jQuery('.message').val().length;
    jQuery('.countdown').text(remaining);
}

$(document).ready(function($) {
    updateCountdown();
    $('.message').change(updateCountdown);
    $('.message').keyup(updateCountdown);
});
</script>
