<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1"></div>
  <div class="col-md-8">
<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :username %><br>
  <%= f.text_field :username, :autofocus => true, class: "form-control" %></p>

  <p><%= f.label :name %><br />
  <%= f.text_field :name, class: "form-control" %></p>

  <p><%= f.label :gender %><br />
  <%= f.select(:gender, [["Male"], ["Female"]], {},{class: "form-control"}) %></p>

  <p><%= f.label :measurement_system %><br />
  <%= f.select(:measurement_system, [["US"], ["Metric"]],{}, {class: "form-control"}) %></p>

  <p><%= f.label :email %><br />
  <%= f.email_field :email, class: "form-control" %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password, class: "form-control" %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, class: "form-control" %></p>

  <p><%= f.submit "Sign up", class: "btn btn-primary" %></p>
<% end %>

<%= render "devise/shared/links" %>
</div>
  <div class="col-md-1"></div>
  <div class="col-md-1"></div>
</div>