<div id="user-info">
	
	<p><strong><%= current_user.name%></strong></p>
        <p><a href="<%= following_user_path(current_user) %>"> <%= current_user.followed_users.count %> Following</a> |
  <a href="<%= followers_user_path(current_user) %>"><%= current_user.followers.count %> Followers</a></p>
	
	<p>Gender: <%= current_user.gender%></p>
	
	<p>Height: <%= current_user.height%>
		<% if current_user.weight != "" %>
			<% if current_user.measurement_system == "US" %> inches
			<% else %> cm
			<% end %>
		<% end %>
	</p>

	<p>Weight: <%= current_user.weight%>
		<% if current_user.weight != "" %>
			<% if current_user.measurement_system == "US" %> lbs<% end %>
			<% if current_user.measurement_system == "Metric" %> kg<% end %>
		<% end %>
	</p>

	<p>Bio: <%= current_user.bio%></p>
	
	<p>Age: <% if current_user.age %><%= distance_of_time_in_words(Time.now ,current_user.age) %><% end %></p>
	
	<% if current_user.admin %>
		<p>Admin: True</p>
	<% end -%>
	
	<%= link_to "Missing information? Fill it in here", edit_user_registration_path(current_user) %>
</div>