<% provide(:title, @title) %>

<div class="row">
  <div class="col-md-4">
    <%= render "users/showuserinfo" %>
    <%= render "goals/goalviewshow" %>
  </div>
  <div class="col-md-8">
  <h1><%= @user.name %>'s <%= @title %></h1>
    <% if @users.any? %>
      <% @users.each do |f| %>
        <p><%= link_to f.name, user_path(f) %></p>
        <% if f.bio %>
          <small><%= f.bio %></small>
        <% end %>
        <p><%= link_to "#{f.followers.count} Followers", followers_user_path(f) %> | <%= link_to "#{f.followed_users.count} Followers", following_user_path(f) %></p>
      <% end %>
    <% end %>
  </div>
</div>

<%= render "goals/goalform" %>