<div class="panel panel-default" id="post-<%= feed_item.id %>" >
	<div class="panel-heading">
		<%= link_to feed_item.user.name, feed_item.user %>. Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
	</div>

	<div class="panel-body">
		<%= feed_item.content %>
	</div>

  	<% if current_user == feed_item.user %>
  		<div class="panel-footer">
			<%= link_to "", post_path(feed_item), :method => :delete, class: "glyphicon glyphicon-trash" %>
  		</div>
	<% end %>
</div>