<p><div class="panel panel-default" id="challenge-<%= challenge.id %>" >
		<div class="panel-heading">
			@<%= link_to challenge.user.username, challenge.user %> | Posted <%= time_ago_in_words(challenge.created_at) %> ago
		</div>

		<div class="panel-body">
			<p><strong>Notes:</strong> <%= challenge.content %></p>
			<% challenge.wo_sets.each do |wo_set| %>
				<table class="table table-bordered table-condensed">
						<tr>
							<th colspan="2"><%= Exercise.find_by(wo_set.exercise_id).name %></th>
						</tr>
					<% if wo_set.rep != "" %>
						<tr>
							<td>Reps</td>
							<td><%= wo_set.rep %></td>
						</tr>
					<% end %>
					<% if wo_set.weight != "" %>
						<tr>
							<td>Weight</td>
							<td><%= wo_set.weight %></td>
						</tr>
					<% end %>
					<% if wo_set.distance != "" %>
						<tr>
							<td>Distance</td>
							<td><%= wo_set.distance %></td>
						</tr>
					<% end %>
					<% if wo_set.time != "" %>
						<tr>
							<td>Time</td>
							<td><%= wo_set.time %></td>
						</tr>
					<% end %>
				</table>
			<% end %>
		</div>
	  	
	  	<% if current_user.id == challenge.user_id || current_user.admin == true %>
		  	<div class="panel-footer">
				<%= link_to "Delete", challenge_path(challenge), :method => :delete, class: "glyphicon glyphicon-trash" %> | 
				<%= link_to "Edit", edit_challenge_path(challenge), class: "glyphicon glyphicon-edit" %>
		  	</div>
		<% end %>
	</div></p>