<div id="createexercise" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">Create a Goal</h3>
			</div>
			<div class="modal-body">
				<%= form_for Goal.new do |f| %>

					<p><%= f.label :exercise %><br>
    				<%= f.collection_select :exercise_id, Exercise.all, :id, :name, {prompt: "Select a exercise"}, {class: "form-control"}  %></p>
    				<p>&nbsp;</p>
					<h4>If Applicable</h4>
					<p><%= f.label :weight %><br>
					<%= f.text_field :weight, class: "form-control" %></p>
					
					<p><%= f.label :distance %><br>
					<%= f.text_field :distance , class: "form-control"%></p>
					
					<p><%= f.label :time %><br>
					<%= f.text_field :time, class: "form-control" %></p>

				</div>
      			<div class="modal-footer">
					<%= f.submit "Submit", class: "btn btn-primary" %>

        			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>