<% if current_user.admin %>
<%= form_for @exercise do |f| %>

	<p><%= f.label :name %><br>
	<%= f.text_field :name, class: "form-control" %></p>

	<p><%= f.label :description %><br>
	<%= f.text_area :description, class: "form-control" %></p>

	<p><%= f.label :category %><br>
	<%= f.select(:category, [["Abdominals"], ["Abductors"], ["Adductors"], ["Biceps"], ["Calves"], ["Chest"], ["Forearms"], ["Glutes"], ["Hamstrings"], ["Lats"], ["Lower Back"], ["Middle Back"], ["Neck"], ["Quadriceps"], ["Shoulder"], ["Traps"], ["Triceps"]], {prompt: "Select a Category"}, {class: "form-control"} )  %></p>
	<%= f.submit "Publish Exercise", class: "btn btn-primary" %>
<% end %>
<% else %>
<p>You are not an admin</p>


<% end %>
