<% if current_user.admin %>
<%= form_for @exercise do |f| %>

	<p><%= f.label :name %><br>
	<%= f.text_field :name %></p>

	<p><%= f.label :description %><br>
	<%= f.text_area :description %></p>

	<p><%= f.label :category %><br>
	<%= f.select(:category, [["Lifting"], ["Cardio"]])  %></p>
	<%= f.submit "Publish Exercise", class: "btn btn-primary" %>
<% end %>
<% else %>
<p>You are not an admin</p>


<% end %>
