<!DOCTYPE html>
<html>
<head>
  <title>Fittrack</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "jquery.mentionsInput", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "autocomplete-rails.js" %>
  <%= javascript_include_tag "jquery.mentionsInput.js" %>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "shared/header" %>

<div id="body">

	<p class="notice"><%= notice %></p>
  
	<p class="alert"><%= alert %></p>

	<%= yield %>

  <% if signed_in? %>
    <%= render "goals/goalform" %>
    <%= render "posts/postmodal" %>
    <%= javascript_tag do %>
        $('textarea .mention').mentionsInput({
  onDataRequest:function (mode, query, callback) {
    var data = [
    <% userall.each do |user| %>
      { id:<%= user.id %>, name:<%= user.username %> },
    <% end %>
    ];

    data = _.filter(data, function(item) { return item.name.toLowerCase().indexOf(query.toLowerCase()) > -1 });

    callback.call(this, data);
  }
});
   <% end %>
  <% end %>

</div>

</body>
</html>
